<nz-tree
  [nzData]="nodes"
  nzDraggable
  nzBlockNode
  nzMultiple
  [nzSelectedKeys]="selectedKeys"
  [nzExpandedKeys]="expandedKeys"
  [nzTreeTemplate]="nzTreeTemplate"
  [nzExpandedIcon]="multiExpandedIconTpl"
  (nzOnDrop)="drop($event)"
  (nzClick)="clickNode($event)"
  (nzExpandChange)="expandGroup($event)"
>
  <ng-template #multiExpandedIconTpl let-node let-origin="origin">
    <i *ngIf="!node.isLeaf" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="ant-tree-switcher-line-icon"></i>
  </ng-template>
  <ng-template #nzTreeTemplate let-node="origin">
    <div
      class="layer"
      [class.locked]="node.locked"
      (contextmenu)="contextMenu($event, menu, node)"
      (mouseenter)="showBordered(node.id)"
      (mouseleave)="clearBordered(node.id)"
    >
      <span>{{ node.title }}</span>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="action-item" (click)="deleteNodes()">
          <i nz-icon nzType="delete"></i>
          <span>删除</span>
        </li>
        <li *ngIf="node.children && node.children.length" nz-menu-item (click)="breakNode(node.id)" class="action-item">
          <i nz-icon nzIconfont="icon-break"></i>
          <span>打散</span>
          <span class="shortcuts"> ctrl+shift+G </span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>
</nz-tree>
