<ul class="layer-list">
  <ng-container *ngTemplateOutlet="nodeList; context: { $implicit: nodes$ | async, dept: 1 }"></ng-container>
</ul>

<ng-template #nodeList let-list let-dept="dept">
  <ng-container *ngFor="let node of list">
    <ng-container *ngIf="node.children?.length">
      <li (pointerenter)="showBordered(node)" (pointerleave)="clearBordered(node.id)">
        <div class="title has-child" [style.padding-left.px]="dept * 20">
          <a class="arrow" (click)="openedKeys.has(node.id) ? openedKeys.delete(node.id) : openedKeys.add(node.id)">
            <i *ngIf="!openedKeys.has(node.id)" nz-icon nzType="caret-right"></i>
            <i *ngIf="openedKeys.has(node.id)" nz-icon nzType="caret-down"></i>
          </a>
          <div class="d-flex align-items-center">
            <i *ngIf="!openedKeys.has(node.id)" nz-icon nzType="folder"></i>
            <i *ngIf="openedKeys.has(node.id)" nz-icon nzType="folder-open"></i>
            <span class="ml-2">{{ node.name }}</span>
          </div>
        </div>
        <ul *ngIf="openedKeys.has(node.id)" class="children">
          <ng-container *ngTemplateOutlet="nodeList; context: { $implicit: node.children, dept: dept + 1 }"></ng-container>
        </ul>
      </li>
    </ng-container>
    <ng-container *ngIf="!node.children?.length">
      <li (pointerenter)="showBordered(node)" (pointerleave)="clearBordered(node.id)">
        <div class="title" [style.padding-left.px]="dept * 20">
          <span class="ml-2">{{ node.name }}</span>
        </div>
      </li>
    </ng-container>
  </ng-container>
</ng-template>
