<div class="rotate">
  <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M10.536 3.464A5 5 0 1 0 11 10l1.424 1.425a7 7 0 1 1-.475-9.374L13.659.34A.2.2 0 0 1 14 .483V5.5a.5.5 0 0 1-.5.5H8.483a.2.2 0 0 1-.142-.341l2.195-2.195z"
      fill-rule="nonzero"
    ></path>
  </svg>
</div>
<div class="resizable-handle t"></div>
<div class="resizable-handle r"></div>
<div class="resizable-handle b"></div>
<div class="resizable-handle l"></div>
<div class="resizable-handle tr"></div>
<div class="resizable-handle br"></div>
<div class="resizable-handle tl"></div>
<div class="resizable-handle bl"></div>
<div class="t circle"></div>
<div class="r circle"></div>
<div class="b circle"></div>
<div class="l circle"></div>
<div class="tr circle"></div>
<div class="br circle"></div>
<div class="tl circle"></div>
<div class="bl circle"></div>
